p1 {
	font-size: larger;
	font-family: "Cascadia Code";
	background: greenyellow;
	width: auto;
	height: auto;
	padding: 7px;
	border: 3px solid #000;
	color: rgb(255, 255, 255);
}

@keyframes image_slide {
	from {
		margin-left: -100%;
	}
	to {
		margin-left: 0%;
	}
}

#sliding_image {
	animation-name: image_slide;
	animation-duration: 1.5s;
}

#github_link:hover {
	color: hotpink;
}